<div class="top-header">
    <div class="container">
        <div class="row align-items-center">
         <div class="col-lg-7 col-md-12">
            <ul class="top-header-information">
              <li>
                <i class="bx bxs-map"></i>
                153 Near SMS Hospital Jaipur Rajasthan 
              </li>
              <li>
                <i class="bx bx-envelope-open"></i>
                <a routerLink="/home">Surian@gmail.com</a>
              </li>
            </ul>
         </div>
         <div class="col-lg-5 col-md-12">
            <ul class="top-header-optional">
                <li>
                    <a href="https://www.facebook.com">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://www.twitter.com">
                        <i class='bx bxl-twitter'></i>
                    </a>
                    <a href="https://www.linkedin.com">
                        <i class='bx bxl-linkedin'></i>
                    </a>
                    <a href="https://www.instagram.com">
                        <i class='bx bxl-instagram'></i>
                    </a>
                </li>
                <li class="languages-list">
                    <select>
                        <option value="en">English</option>
                        <option value="ar">Hindi</option>
                        <option value="de">Panjabi</option>
                        <!-- <option value="it">Italiano</option>
                        <option value="es">Spanish</option> -->
                    </select>
                </li>
            </ul>
         </div>
        </div>
    </div>
</div>

<div class="middle-header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="middle-header">
                    <h1><a href="#">Surian</a></h1>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <ul class="middle-header-content">
                    <li>
                        <i class='bx bx-phone-call'></i>
                        Call Today
                        <span>
                            <a href="#">+91 7014230225</a>
                        </span>
                    </li>
                    <li>
                        <i class='bx bx-time-five'></i>
                        Open Hour
                        <span>
                            <a href="#">09:00 AM to 18:00 PM</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
