<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title1.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>The Surian Short Story</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    About Us
                </li>
            </div>
        </div>
    </div>
</div>

<div class="pt-100">
    <app-about-part></app-about-part>
</div>

<div class="funfacts-area pt-100 pb-75 bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="fun-fact">
                    <h3>120</h3>
                    <p>Health Sections</p>
                    <div class="shape">
                        <img src="assets/images/img1.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="fun-fact">
                    <h3>234</h3>
                    <p>Professionals Doctor</p>
                    <div class="shape">
                        <img src="assets/images/img2.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="fun-fact">
                    <h3>2234</h3>
                    <p>Satisfied Patients</p>
                    <div class="shape">
                        <img src="assets/images/img3.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="fun-fact">
                    <h3>100+</h3>
                    <p>Health Plans</p>
                    <div class="shape">
                        <img src="assets/images/img4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-100">
    <app-denticts-part></app-denticts-part>
</div>

<div class="pt-100">
    <app-testimonial-part></app-testimonial-part>
</div>

<div class="features-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class='bx bx-hash'></i>
                Our Features 
            </span>
            <h2>Our Clients are Our Priority, We Offer Quality Dental Services from Specialists</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="fa-solid fa-staff-snake"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> Quality Brackets </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="bx bxs-file"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> Certified Dentist </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="fa-regular fa-gem"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> Experience </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="fa-solid fa-bed-pulse"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> Patient Care </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-call-us></app-call-us>


