<div class="review-area bg-f5f5f5 ptb-100">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class='bx bx-hash'></i>
                Our Clients Review 
            </span>
            <h2>Real Review From Our Real Customer</h2>
            <a  class="default-btn" routerLink="/testimonials">View All</a>
        </div>
        <div class="review-slides">
            <owl-carousel-o [options]="customOptions" >
                <ng-template carouselSlide>
                    <div class="single-review-item">
                        <div class="icon">
                            <i class="fa-solid fa-quote-left"></i>
                        </div>
                        <p>
                            Specializing in emergency medicine, Dr. Johnson is prepared  of acute illnesses,
                            injuries or conditions. Emergency physicians, or ER doctors, must incorporate knowledge
                             and experience gained across a broad range of medical topics. 
                        </p>
                        <div class="review-info">
                          <img src="assets/images/review-1.jpg">
                          <h3>Dr. Sarah Taylor</h3>
                          <span>Nephrologists</span>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="single-review-item">
                        <div class="icon">
                            <i class="fa-solid fa-quote-left"></i>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit 
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <div class="review-info">
                          <img src="assets/images/review-2.jpg">
                          <h3>Dr. Aiken Ward</h3>
                          <span>Endocrinologists</span>
                        </div>
                    </div>
               </ng-template>  
                <ng-template carouselSlide>
                    <div class="single-review-item">
                        <div class="icon">
                            <i class="fa-solid fa-quote-left"></i>
                        </div>
                        <p>
                            Specializing in emergency medicine, Dr. Johnson is prepared  of acute illnesses,
                            injuries or conditions. Emergency physicians, or ER doctors, must incorporate knowledge and experience gained across a broad range of medical topics. 
                             
                        </p>
                        <div class="review-info">
                          <img src="assets/images/review-3.jpg">
                          <h3>Dr. Eachann Jhon</h3>
                          <span>Cardiologists</span>
                        </div>
                    </div>
                </ng-template>
              </owl-carousel-o>            
        </div>
    </div>
</div>
