<div class="contact-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class='bx bx-hash'></i>
                Message Us
            </span>
            <h2>Drop Us Message for Any Query</h2>
        </div>
        <div class="contact-form">
            <form>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" required="" placeholder="Name" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="email" required="" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" required="" placeholder="Phone" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" required="" placeholder="Subject" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <textarea name="Message" id="" cols="30" rows="5" required placeholder="Your Message" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <button type="submit" class="default-btn">Send Message</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
