<div class="doctor-area pb-75">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class='bx bx-hash'></i>
                Our Dentists
            </span>
            <h2>Specialized and Experienced Dentists From Inba</h2>
            <a  class="default-btn" routerLink="/dentist">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-1.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details"> Dr. Johnson Melbourne </a></h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-2.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details"> Dr. Ena Dicrosa </a></h3>
                        <span>Aesthetic Dentistry</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-3.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details"> Dr. Addison Smith </a></h3>
                        <span>Gastroenterologists</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
