<div class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <span class="sub-title">
                        <i class='bx bx-hash'></i>
                        About Our Hospital 
                    </span>
                    <h3> Our Clients are Our Priority, We Offer Quality Dental Services 
                        <span>of Specialists</span>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <ul class="about-list">
                                <li>
                                    <i class='bx bx-check'></i>
                                    Complete Crown 
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Dental Implants 
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Dental X-Ray 
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-6">
                            <ul class="about-list">
                                <li>
                                    <i class='bx bx-check'></i>
                                    Cosmetic Filling
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Dental Implants 
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Root Canal 
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="list">
                        <div class="row">
                            <div class="col-6">
                                <div class="about-info">
                                    <i class="fa-solid fa-staff-snake"></i>
                                    <h4>25+ Years</h4>
                                    <span> Dental Experienced </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/images/about-1.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
