<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title4.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Specialized Dentists</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    Denticts
                </li>
            </div>
        </div>
    </div>
</div>

<div class="ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-1.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details"> Dr. Johnson Melbourne </a></h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-2.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details"> Dr. Ena Dicrosa </a></h3>
                        <span>Aesthetic Dentistry</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-3.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details"> Dr. Addison Smith </a></h3>
                        <span>Gastroenterologists</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-4.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details">Dr. Daisy Gabriela</a></h3>
                        <span>Endocrinologists</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-5.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details">Dr. Ronnie Aaron</a></h3>
                        <span>Dermatologists</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-6.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details">Dr. Edie Dee</a></h3>
                        <span>Cardiologists</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-7.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details">Dr. Sarah Taylor</a></h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-8.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details">Dr. Aiken Ward</a></h3>
                        <span>Aesthetic Dentistry</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/doctor-details" class="d-block">
                        <img src="assets/images/doctor-9.jpg">
                    </a>
                    <div class="doctor-content">
                        <h3><a routerLink="/doctor-details">Dr. Babatunde Jon</a></h3>
                        <span>Gastroenterologists</span>
                        <div class="share-link">
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
