<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title3.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Dental Services</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    Services
                </li>
            </div>
        </div>
    </div>
</div>

<div class="services-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-1.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details"> General Dentistry </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-2.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Cosmetic Dentistry</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-3.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Dental Implants</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-4.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Orthodontics</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-5.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Teeth Whitening</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-6.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Teeth Cleaning</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area">
                    <span class="prev page-numbers">
                        <i class='bx bx-chevron-left'></i>
                    </span>
                    <span aria-current="page" class="page-numbers current">1</span>
                    <a routerLink="/services" class="page-numbers">2</a>
                    <a routerLink="/services" class="page-numbers">3</a>
                    <a routerLink="/services" class="page-numbers">4</a>
                    <a routerLink="/services" class="next page-numbers">
                        <i class='bx bx-chevron-right'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
