<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="image-cover" style="background-image: url(assets/images/slides-bg1.jpg);">
            <div class="container">
                <div class="main-slider-content">
                   <span class="sub-title">
                    <i class='bx bx-hash'></i>
                    Keeping Teeth Clean 
                   </span>
                   <h1>Personalized Dental 
                   <span>Care</span>
                   </h1>
                   <p>
                    Because we’re dentists, we want everyone to enjoy coming to the dentist. That’s one reason we practice family dentistry 
                    — so that we can instill in children a love of coming to the dentist by making it fun for them.
                   </p>
                   <div class="slider-btn">
                    <a class="default-btn" href="#"> Book Appointment </a>
                    <div class="checkup-content">
                        <div class="icon">
                            <i class='bx bx-handicap'></i>
                        </div>
                        
                        <span>
                            <a href="#"> Get Free Checkup </a>
                        </span>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="image-cover" style="background-image: url(assets/images/slides-bg2.jpg);">
        <div class="container">
            <div class="main-slider-content">
               <span class="sub-title">
                <i class='bx bx-hash'></i>
                Keeping Teeth Clean 
               </span>
               <h1>Exceptional Care for 
               <span>Woman</span>
               </h1>
               <p>
                Exceptional Care for Women (ECW) provides the finest obstetric and gynecologic care for women of all ages.
                From routine examinations and prenatal visits to the treatment of gynecologic and obstetric disorders, 
                the team of professionals at Exceptional Care for Women brings a personalized and individualized approach to each patient. 
               </p>
               <div class="slider-btn">
                <a class="default-btn" href="#"> Book Appointment </a>
                <div class="checkup-content">
                    <div class="icon">
                        <i class='bx bx-handicap'></i>
                    </div>
                    
                    <span>
                        <a href="#"> Get Free Checkup </a>
                    </span>
                </div>
               </div>
            </div>
        </div>
        </div>
   </ng-template>  
    <ng-template carouselSlide>
        <div class="image-cover" style="background-image: url(assets/images/slides-bg3.jpg);">
            <div class="container">
                <div class="main-slider-content">
                   <span class="sub-title">
                    <i class='bx bx-hash'></i>
                    Keeping Teeth Clean 
                   </span>
                   <h1>Your Health is Our Top 
                   <span>Priority</span>
                   </h1>
                   <p>
                    We understand the concerns people have amidst the current Covid-19 pandemic.
                    At DMC Primary Care, our staff and providers are going the extra mile to keep our offices clean and safe
                     for our patients so they can get the healthcare they need in a timely manner.
                   </p>
                   <div class="slider-btn">
                    <a class="default-btn" href="#"> Book Appointment </a>
                    <div class="checkup-content">
                        <div class="icon">
                            <i class='bx bx-handicap'></i>
                        </div>
                        
                        <span>
                            <a href="#"> Get Free Checkup </a>
                        </span>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </ng-template>  
  </owl-carousel-o>
