<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title1.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Blog</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    Blog
                </li>
            </div>
        </div>
    </div>
</div>

<div class="blog-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-1.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Technology</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> New Technology Make for Dental Operation </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Daisy Gabriela</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-2.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Dental</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> Regular Dental care make Your Smile Brighter </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Ronnie Aaron</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-3.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Hygiene</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> Dental Hygiene for All Age to Make Smile </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Babatunde Jon</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-4.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Technology</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> 10 Dental Technology That Really Help </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Daisy Gabriela</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-5.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Dental</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> World Best Dentist Meetup in Workshop </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Daisy Gabriela</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-6.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Hygiene</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> Hygiene for All Age to Make Smile Brighter </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Daisy Gabriela</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-1.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Technology</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> New Technology Make for Dental Operation </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Daisy Gabriela</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-2.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Dental</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> Regular Dental care make Your Smile Brighter </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Ronnie Aaron</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-3.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Hygiene</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> Dental Hygiene for All Age to Make Smile </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Babatunde Jon</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area">
                    <span class="prev page-numbers">
                        <i class='bx bx-chevron-left'></i>
                    </span>
                    <span aria-current="page" class="page-numbers current">1</span>
                    <a routerLink="/services" class="page-numbers">2</a>
                    <a routerLink="/services" class="page-numbers">3</a>
                    <a routerLink="/services" class="page-numbers">4</a>
                    <a routerLink="/services" class="next page-numbers">
                        <i class='bx bx-chevron-right'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
