<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title3.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Testimonials</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    Testimonials
                </li>
            </div>
        </div>
    </div>
</div>

<div class="review-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-1.jpg">
                        <h3>Dr. Sarah Taylor</h3>
                        <span>Nephrologists</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-2.jpg">
                        <h3>Dr. Aiken Ward</h3>
                        <span>Endocrinologists</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-3.jpg">
                        <h3>Dr. Eachann Jhon</h3>
                        <span>Cardiologists</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-4.jpg">
                        <h3>Dr. Smith Jorge</h3>
                        <span>General Dentist</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-5.jpg">
                        <h3>Dr. Aston Alison</h3>
                        <span>Orthodontist</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-6.jpg">
                        <h3>Dr. Moris Johonson</h3>
                        <span>Periodontist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
