@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import './assets/vars.scss';
body{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    transition: 0.5s;
    color: #000;
    text-decoration: none;
    outline: 0!important;
}

p {
    color: $paragraph_color;
    font-size:16px;
    margin-bottom: 15px;
    line-height: 1.8;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-100{
    padding-bottom: 100px;
}

.pt-100{
    padding-top: 100px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: 'Poppins' , sans-serif;
    font-weight: 700;
}

.default-btn{
    background-color: $main_color;
    transition: all 0.5s;
    color: #fff;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0;
    box-shadow: none;
    border: none;
    font-size: 16px;
    font-weight: 500;

    &:hover{
        background-color: #005879;
        transition: all 0.5s;
        color: #fff !important;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.bg-f5f5f5 {
    background-color: #f5f5f5;
}

.sub-title{
    position: relative;
    margin-bottom: 20px;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px 10px 40px;
    color: $paragraph_color;
    background-color: #fff;
    box-shadow: #959da526 0 8px 24px;
    font-size: 15px;
    font-weight: 500;

    i{
        transform: translateY(-50%);
        position: absolute;
        font-size: 19px;
        color: #14e49a;
        margin-top: 2px;
        left: 20px;
        top: 45%;
    }
}

.bg-eef9ff {
    background-color: #eef9ff;
}

@media only screen and (max-width: 768px){
body, p {
    font-size: 14px;
}

.ptb-100 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.default-btn {
    padding: 12px 30px;
    font-size: 14px;
}

blockquote , .blockquote  {
    padding: 20px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;

    p{
        font-size: 15px !important;
    }
}

}

.section-title-warp {
    padding-right: 175px;
    margin-bottom: 45px;
    position: relative;

    h2{
        font-size: 38px !important;
        margin-bottom: 0;
        max-width: 700px;
        line-height: 1.3;
    }

    .default-btn{
        position: absolute;
        bottom: 5px;
        right: 0;
    }
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ps-5 {
    padding-left: 3rem!important;
}

blockquote, .blockquote{
    border-left: 3px solid $main_color;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

    p{
        margin-bottom: 0;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
    }
}


.invalid-input{
    color: red;
    font-size: 12px;
    margin-top:-20px
}


