<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title4.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Blog Details</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    Blog Details
                </li>
            </div>
        </div>
    </div>
</div>

<div class="blog-details-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="assets/images/blog-details.jpg">
                        <div class="date">10 Jun</div>
                        <div class="tag">
                            <a routerLink="/blog">Technology</a>
                        </div>
                    </div>
                    <div class="article-content">
                        <div class="entry-meta">
                            <ul class="entry-meta">
                                <li>
                                    <i class="bx bxs-user"></i>
                                    <span>
                                        By
                                        <a routerLink="/blog">Daisy Gabriela</a>
                                    </span>
                                </li>
                                <li>
                                    <i class="bx bxs-comment"></i>
                                    1 Comment 
                                </li>
                            </ul>
                        </div>
                        <h3>New Technology Make for Dental Operation</h3>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                           reprehenderit in sed quia non numquam eius modi tempora incidunt ut
                           labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                            reprehenderit in sed quia non numquam eius modi tempora incidunt ut
                            labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                        <blockquote class="wp-block-quote">
                            <p>
                             Proin gravida nibh vel velit auctor aliquet. 
                             Aenean sollicitudin, lorem quis bibendum auctor,
                             nisi elit consequat ipsum. Proin gravida nibh vel 
                             velit auctor aliquet. Aenean sollicitudin,
                             lorem quis bibendum auctor.
                            </p>
                        </blockquote>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                            reprehenderit in sed quia non numquam eius modi tempora incidunt ut
                            labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                        <div class="article-tag">
                            <span>Share :</span>
                            <a href="www.facebook.com"><i class='bx bxl-facebook'></i></a>
                            <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
                            <a href="www.linkedin.com"><i class='bx bxl-linkedin'></i></a>
                            <a href="www.instagram.com"><i class='bx bxl-instagram'></i></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                            reprehenderit in sed quia non numquam eius modi tempora incidunt ut
                            labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                    </div>
                    <div class="comments-area">
                        <h3 class="comments-title">3 Comments:</h3>
                        <ol class="comment-list">
                            <li class="comment">
                                <div class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img src="assets/images/doctor-1.jpg" class="avatar">
                                            <b class="fn">John Jones</b>
                                        </div>
                                        <div class="comment-metadata">
                                            <span>April 24, 2022 at 10:59 am</span>
                                        </div>
                                    </footer>
                                    <div class="comment-content">
                                        <p>
                                           Lorem Ipsum has been the industry’s standard
                                           dummy text ever since the 1500s, when an unknown printer
                                           took a galley of type and scrambled it to make a type specimen.
                                        </p>
                                    </div>
                                    <div class="reply">
                                        <a routerLink="/blog-details" class="comment-reply-link">Reply</a>
                                    </div>
                                </div>
                                <ol class="children">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img src="assets/images/doctor-2.jpg" class="avatar">
                                                    <b class="fn">Steven Smith</b>
                                                </div>
                                                <div class="comment-metadata">
                                                    <span>April 24, 2022 at 10:59 am</span>
                                                </div>
                                            </footer>
                                            <div class="comment-content">
                                                <p>
                                                   Lorem Ipsum has been the industry’s standard
                                                   dummy text ever since the 1500s, when an unknown printer
                                                   took a galley of type and scrambled it to make a type specimen.
                                                </p>
                                            </div>
                                            <div class="reply">
                                                <a routerLink="/blog-details" class="comment-reply-link">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                                <div class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img src="assets/images/doctor-3.jpg" class="avatar">
                                            <b class="fn">Sarah Taylor</b>
                                        </div>
                                        <div class="comment-metadata">
                                            <span>April 24, 2022 at 10:59 am</span>
                                        </div>
                                    </footer>
                                    <div class="comment-content">
                                        <p>
                                           Lorem Ipsum has been the industry’s standard
                                           dummy text ever since the 1500s, when an unknown printer
                                           took a galley of type and scrambled it to make a type specimen.
                                        </p>
                                    </div>
                                    <div class="reply">
                                        <a routerLink="/blog-details" class="comment-reply-link">Reply</a>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Leave A Reply</h3>
                            <form class="comment-form">
                                <p class="comment-notes">
                                    <span id="email-notes">Your email address will not be published.</span>
                                    Required fields are marked 
                                    <span class="required">*</span>
                                </p>
                                <p class="comment-form-author">
                                    <input type="text" placeholder="Your Name*" required="required">
                                </p>
                                <p class="comment-form-email">
                                    <input type="email" placeholder="Your Email*" required="required">
                                </p>
                                <p class="comment-form-url">
                                    <input type="url" placeholder="Website">
                                </p>
                                <p class="comment-form-comment">
                                    <textarea cols="45" rows="5" placeholder="Your Comment..." required="required"></textarea>
                                </p>
                                <p class="comment-form-cookies-consent">
                                    <input type="checkbox" value="yes">
                                    <label>Save my name, email, and website in this browser for the next time I comment.</label>
                                </p>
                                <p class="form-submit">
                                    <input type="submit"  value="Post A Comment" class="submit">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_search">
                        <form>
                            <input type="search" placeholder="Search..." class="search-field">
                            <button type="submit">
                                <i class="bx bx-search-alt"></i>
                            </button>
                        </form>
                    </div>
                    <div class="widget widget_info">
                        <div class="image">
                            <img src="assets/images/doctor-4.jpg">
                        </div>
                        <div class="content">
                            <h3>Daisy Gabriela</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur incidunt ut labore et dolore magnam.</p>
                            <div class="share-link">
                                <a href="https://www.facebook.com/">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                                <a href="https://twitter.com/">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                                <a href="https://www.linkedin.com/">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                                <a href="https://www.instagram.com/">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_inba_posts_thumb">
                        <h3 class="widget-title">Recent posts</h3>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage cover" style="background-image: url(assets/images/blog-1.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>Nov 27, 2022</span>
                                <h4 class="title usmall">
                                    <a routerLink="/blog-details">New Technology Make for Dental Operation</a>
                                </h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage cover" style="background-image: url(assets/images/blog-2.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>Nov 26, 2022</span>
                                <h4 class="title usmall">
                                    <a routerLink="/blog-details">Regular Dental care make Your Smile Brighter</a>
                                </h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage cover" style="background-image: url(assets/images/blog-3.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>Nov 25, 2022</span>
                                <h4 class="title usmall">
                                    <a routerLink="/blog-details">Dental Hygiene for All Age to Make Smile</a>
                                </h4>
                            </div>
                        </article>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            <li>
                                <a routerLink="/services">Dental</a>
                            </li>
                            <li>
                                <a routerLink="/services">Medical</a>
                            </li>
                            <li>
                                <a routerLink="/services">Dentist</a>
                            </li>
                            <li>
                                <a routerLink="/services">Hygiene</a>
                            </li>
                            <li>
                                <a routerLink="/services">Hospital</a>
                            </li>
                            <li>
                                <a routerLink="/services">Child Care</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">Popular Tags</h3>
                        <div class="tagcloud">
                            <a routerLink="/services">Business</a>
                            <a routerLink="/services">Privacy</a>
                            <a routerLink="/services">Technology</a>
                            <a routerLink="/services">Tips</a>
                            <a routerLink="/services">Uncategorized</a>
                        </div>
                    </div>
                    <div class="widget widget_instagram">
                        <h3 class="widget-title">Gallery</h3>
                        <ul>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-1.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-2.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-3.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-4.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-5.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-6.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-7.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-8.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-9.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>