<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title4.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Service Details</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    Service details
                </li>
            </div>
        </div>
    </div>
</div>

<div class="service-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
               <div class="service-details-image">
                  <img src="assets/images/services-details.jpg">
               </div>
               <div class="service-details-content">
                 <h3>Dental Filling</h3>
                 <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
               </div>
               <div class="row">
                <div class="col-6">
                    <ul class="service-details-list">
                     <li>
                        <i class="bx bx-check"></i>
                        General Dentistry 
                     </li>
                     <li>
                        <i class="bx bx-check"></i>
                        Cosmetic Dentistry 
                     </li>
                     <li>
                        <i class="bx bx-check"></i>
                        Dental Implants  
                     </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="service-details-list">
                        <li>
                           <i class="bx bx-check"></i>
                           Orthodontics 
                        </li>
                        <li>
                           <i class="bx bx-check"></i>
                           Teeth Whitening 
                        </li>
                        <li>
                           <i class="bx bx-check"></i>
                           Teeth Cleaning 
                        </li>
                    </ul>
                </div>
               </div>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
               </p>
               <div class="service-details-overview">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="single-gallery">
                            <img src="assets/images/gallery-1.jpg">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="single-gallery">
                            <img src="assets/images/gallery-2.jpg">
                        </div>
                    </div>
                </div>
               </div>
               <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
               </p>
               <div class="service-details-overview-content">
                <p>
                    <span>How To Take Care During Dental:</span>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at 
                    its layout. The point of psum is that it has a more or-less normal
                    distribution of letters, as opposed to using.
                </p>
                <p>
                    <span>When To Visit your Doctor?</span>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at 
                    its layout. The point of psum is that it has a more or-less normal
                    distribution of letters, as opposed to using.
                </p>
                <p>
                    <span>Dental Options:</span>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at 
                    its layout. The point of psum is that it has a more or-less normal
                    distribution of letters, as opposed to using.
                </p>
               </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_search">
                        <form>
                            <input type="search" placeholder="Search..." class="search-field">
                            <button type="submit">
                                <i class="bx bx-search-alt"></i>
                            </button>
                        </form>
                    </div>
                    <div class="widget widget_inba_posts_thumb">
                        <h3 class="widget-title">Recent posts</h3>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage cover" style="background-image: url(assets/images/blog-1.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>Nov 27, 2022</span>
                                <h4 class="title usmall">
                                    <a routerLink="/blog-details">New Technology Make for Dental Operation</a>
                                </h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage cover" style="background-image: url(assets/images/blog-2.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>Nov 26, 2022</span>
                                <h4 class="title usmall">
                                    <a routerLink="/blog-details">Regular Dental care make Your Smile Brighter</a>
                                </h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage cover" style="background-image: url(assets/images/blog-3.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>Nov 25, 2022</span>
                                <h4 class="title usmall">
                                    <a routerLink="/blog-details">Dental Hygiene for All Age to Make Smile</a>
                                </h4>
                            </div>
                        </article>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            <li>
                                <a routerLink="/services">Dental</a>
                            </li>
                            <li>
                                <a routerLink="/services">Medical</a>
                            </li>
                            <li>
                                <a routerLink="/services">Dentist</a>
                            </li>
                            <li>
                                <a routerLink="/services">Hygiene</a>
                            </li>
                            <li>
                                <a routerLink="/services">Hospital</a>
                            </li>
                            <li>
                                <a routerLink="/services">Child Care</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">Popular Tags</h3>
                        <div class="tagcloud">
                            <a routerLink="/services">Business</a>
                            <a routerLink="/services">Privacy</a>
                            <a routerLink="/services">Technology</a>
                            <a routerLink="/services">Tips</a>
                            <a routerLink="/services">Uncategorized</a>
                        </div>
                    </div>
                    <div class="widget widget_instagram">
                        <h3 class="widget-title">Gallery</h3>
                        <ul>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-1.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-2.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-3.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-4.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-5.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-6.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-7.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-8.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <img src="assets/images/gallery-9.jpg">
                                    <i class="bx bxl-instagram"></i>
                                    <a href="#" class="link-btn"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
