@import '../../assets/vars.scss';

.features-area{
    position: relative;
    margin-top: -65px;
    z-index: 1;

    .single-features{
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 25px;
        transition: all 0.5s;
        background-color: #fff;
        box-shadow: #959da533 0 8px 24px;

        .content{
            position: relative;
            padding-left: 0;

            .icon{
                top: 0;
                font-size: 50px;
                position: relative;
                padding-bottom: 9px;
                left: 0;
                color: $main_color;
            }

            h3{
                margin-bottom: 10px;
                font-size: 25px;
                font-weight: 600;
            }

            p:last-child{
                margin-bottom: 0;
            }
        }

        &:hover{
            transform: translateY(-10px);
            transition: all 0.5s;
        }
    }
}

.services-area{
    .section-title-warp {
        padding-right: 175px;
        margin-bottom: 45px;
        position: relative;

        .sub-title{
            position: relative;
            margin-bottom: 20px;
            border-radius: 50px;
            display: inline-block;
            padding: 10px 20px 10px 40px;
            color: $paragraph_color;
            background-color: #fff;
            box-shadow: #959da526 0 8px 24px;
            font-size: 15px;
            font-weight: 500;

            i{
                transform: translateY(-50%);
                position: absolute;
                font-size: 19px;
                color: #14e49a;
                margin-top: 2px;
                left: 20px;
                top: 45%;
            }
        }

        h2{
            font-size: 38px;
            margin-bottom: 0;
            max-width: 700px;
            line-height: 1.3;
        }

        .default-btn{
            position: absolute;
            bottom: 5px;
            right: 0;

            &:hover{
                background-color: #005879;
                color: #fff !important;
                transition: all 0.5s;
            }
        }
    }

    .single-services{
        margin-bottom: 25px;
        transition: all 0.5s;

        .services-image{
            border-radius: 10px 10px 0 0;
            position: relative;
            overflow: hidden;

            img{
                border-radius: 10px 10px 0 0;
                transition: all 0.5s;
            }
        }

        .services-content{
            box-shadow: 0 0 1.25rem #6c76861a;
            border-bottom: 1px solid $main_color;
            background-color: #fff;
            transition: all 0.5s;
            border-radius: 0 0 10px 10px;
            padding: 35px 30px;

            h3{
                margin-bottom: 12px;
                font-size: 25px;
                font-weight: 500;
            }

            p{
                transition: all 0.5s;
            }
        }

        &:hover{
            transform: translateY(-10px);
            transition: all 0.5s;
        }

        &:hover img{
            transform: rotate(2deg) scale(1.2);
            transition: all 0.5s;
        }
    }
}

.core-features-area{
    background-color: #f5f5f5;
    position: relative;
    z-index: 1;

    &::before{
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        width: 100%;
        height: 30%;
        z-index: -1;
        position: absolute;
        background-color: #fff;
    }

    .section-title-warp {
        padding-right: 175px;
        margin-bottom: 45px;
        position: relative;

        h2{
            font-size: 38px;
            margin-bottom: 0;
            max-width: 700px;
            line-height: 1.3;
        }

        .default-btn{
            position: absolute;
            bottom: 5px;
            right: 0;
        }
    }

    .single-core-features{
        padding: 22px;
        border-radius: 5px;
        margin-bottom: 25px;
        transition: all 0.5s;
        background-color: #fff;
        border-bottom: 1px solid $main_color;
        box-shadow: #959da533 0 8px 24px;

        .icon{
            box-shadow: #0000000d 0 10px 36px, #0000000a 0 0 0 1px;
            background-color: #fff;
            transition: all 0.5s;
            color: $main_color;
            margin-bottom: 25px;
            position: relative;
            text-align: center;
            border-radius: 50%;
            font-size: 40px;
            height: 80px;
            width: 80px;

            i{
                left: 0;
                right: 0;
                top: 50%;
                line-height: 1;
                margin-top: 1px;
                position: absolute;
                transform: translateY(-50%);
            }
        }

        h3{
            margin-bottom: 12px;
            font-size: 25px;
            font-weight: 500;

            a{
                &:hover{
                  color: $main_color;
                }
            }
            
        }

        p:last-child {
            margin-bottom: 0;
        }

        &:hover{
            transform: translateY(-10px);
        }

        &:hover .icon{
            background-color: $main_color;
            color: #fff;
        }
    }
}


.single-blog{
    margin-bottom: 25px;
    transition: all 0.5s;
    background-color: #fff;

    .blog-image{
        position: relative;

        img{
            border-radius: 10px 10px 0 0;
        }

        .tag{
            left: 20px;
            bottom: 20px;
            font-size: 15px;
            padding: 5px 20px;
            position: absolute;
            border-radius: 50px;
            display: inline-block;
            background-color: $main_color;

            a{
                color: #fff;
            }
        }
    }

    .blog-content{
        padding: 25px;
        border-radius: 0 0 10px 10px;
        border-bottom: 2px solid $main_color;
        box-shadow: #959da533 0 8px 24px;

        h3{
            line-height: 1.4;
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: 500;
        }

        p{
            margin-bottom: 12px;
        }

        .blog-btn{
            font-size: 15px;
            font-weight: 500;
        }

        .entry-meta{
            position: relative;
            list-style-type: none;
            margin-bottom: 0;
            margin-top: 20px;
            padding-left: 0;
            padding-top: 20px;

            &::before{
                background-color: #eee;
                position: absolute;
                content: "";
                height: 1px;
                width: 100%;
                right: 0;
                left: 0;
                top: 0;
            }

            li{
                color: $paragraph-color;
                display: inline-block;
                margin-right: 20px;
                position: relative;
                padding-left: 22px;
                font-size: 15px;
                font-weight: 500;

                i{
                    left: 0;
                    top: 50%;
                    position: absolute;
                    color: $main_color;
                    transform: translateY(-50%);
                    font-size: 16px;
                }

                span{
                    font-weight: 500;
                }
            }

            li:last-child{
                margin-right: 0;
            }
        }
    }

    &:hover{
        transform: translateY(-10px);
        transition: all 0.5s;
    }
}

@media screen and (max-width:768px){
    .section-title-warp{
        padding-right: 0 !important;
        text-align: center !important;
        margin-bottom: 30px !important;

        .sub-title {
            padding: 7px 15px 7px 35px;
            margin-bottom: 17px;
            font-size: 13px;

            i{
                margin-top: 1px;
                left: 15px;
            }
        }

        h2{
            font-size: 24px !important;
            max-width: 100% !important;
        }

        .default-btn{
            position: relative !important;
            margin-top: 15px !important;
            bottom: 0 !important;
        }
    }

    .single-core-features{
        padding: 20px;

        .icon{
            margin-bottom: 20px !important;
            font-size: 30px !important;
            height: 60px !important;
            width: 60px !important;
        }

        h3{
            margin-bottom: 12px !important;
            font-size: 20px !important;
        }
    }
}

