<app-slider ></app-slider>

<div class="features-area pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <div class="icon">
                            <i class="fa-solid fa-wheelchair-move"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> New Technology </a>
                        </h3>
                        <p>Using VR and AR technologies like Microsoft Hololens, 
                        surgeons can perform surgery using both hands more accurately.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <div class="icon">
                            <i class="fa-solid fa-heart-circle-check"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> Accept Insurance </a>
                        </h3>
                        <p>This desire to improve healthcare through innovation still drives us today.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <div class="icon">
                            <i class="fa-solid fa-user-doctor"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> Certified Dentist </a>
                        </h3>
                        <p>The most common professional degree in dentistry is the DDS (Doctor of Dental Surgery). 
                            Some universities instead offer a DMD (Doctor of Medicine in Dentistry).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services-area pb-75">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class='bx bx-hash'></i>
                Our Best Dental Services 
            </span>
            <h2>Enjoy Specialized Care Through Precision, Artistry, and Experience</h2>
            <a routerLink="/services" class="default-btn">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-1.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details"> General Dentistry </a>
                        </h3>
                        <p>General dentistry covers a range of treatment options and procedures fundamental to 
                            protecting and maintaining a good standard of oral health.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-2.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Cosmetic Dentistry</a>
                        </h3>
                        <p>Cosmetic dentistry is the branch of dentistry that focuses on improving the appearance of your smile. 
                            Common cosmetic dental treatments include teeth whitening.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-3.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Dental Implants</a>
                        </h3>
                        <p>Dental Implant is an artificial tooth root made of medical grade titanium, 
                            it looks like a screw and is very strong but also light in weight. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-4.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Orthodontics</a>
                        </h3>
                        <p>Orthodontics is a dentistry specialty that addresses the diagnosis, prevention,
                         management, and correction of mal-positioned teeth and jaws, and misaligned bite patterns.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-5.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Teeth Whitening</a>
                        </h3>
                        <p>Teeth whitening refers to a variety of processes that aim to make someone’s natural teeth appear brighter and whiter. 
                            Teeth whitening methods include sanding down stains, bleaching, ultraviolet (UV) light.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services-6.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">Teeth Cleaning</a>
                        </h3>
                        <p>Teeth cleaning is performed at a dental office to remove plaque and tartar from the teeth. 
                            Plaque is a sticky film containing bacteria that forms on the tooth surface. Teeth cleaning is part of oral hygiene
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-call-us></app-call-us>

<app-about-part></app-about-part>

<div class="core-features-area pt-100 pb-75 bg-eef9ff">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class='bx bx-hash'></i>
                Specialty and Our Features 
            </span>
            <h2>Features That You Will Love Us</h2>
            <a  class="default-btn" routerLink="/services">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="fa-solid fa-staff-snake"></i>
                    </div>
                    <h3><a routerLink="/service-details"> Quality Brackets </a></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class='bx bxs-file'></i>
                    </div>
                    <h3><a routerLink="/service-details"> Certified Dentists </a></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="fa-regular fa-gem"></i>
                    </div>
                    <h3><a routerLink="/service-details"> Experience </a></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="fa-solid fa-bed-pulse"></i>
                    </div>
                    <h3><a routerLink="/service-details"> Patient Care </a></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-denticts-part></app-denticts-part>

<app-testimonial-part></app-testimonial-part>

<div class="blog-area pt-100 pb-75">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class='bx bx-hash'></i>
                Update News and Blogs
            </span>
            <h2>Stay Updated with Our Latest News and Blog</h2>
            <a class="default-btn" routerLink="/blog">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-1.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Technology</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> New Technology Make for Dental Operation </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Daisy Gabriela</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-2.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Dental</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> Regular Dental care make Your Smile Brighter </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Ronnie Aaron</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a routerLink="/blog-details" class="d-block">
                          <img src="assets/images/blog-3.jpg">
                        </a>
                        <div class="tag">
                            <a routerLink="/blog">Hygiene</a>
                        </div>
                    </div>
                    <div class="blog-content">
                       <h3>
                        <a routerLink="/blog-details"> Dental Hygiene for All Age to Make Smile </a>
                       </h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                       <a routerLink="/blog-details" class="blog-btn">Read More</a>
                       <ul class="entry-meta">
                        <li>
                            <i class='bx bxs-user'></i>
                            <span>
                                By
                                <a routerLink="/blog">Babatunde Jon</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bxs-comment'></i>
                            2 Comments 
                        </li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

